!!!
html
  head
    title= title
    script(src="/js/jquery.min.js")
    script(src="/js/swfobject.js")
    script(src="/js/uploadify.min.js")
    script(src="/js/script.js")
  body
      h2 <a href='http://www.uploadify.com/'>Uploadify</a> Demo
      input#file_upload(name="file_upload", type="file")