!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/fileuploader.css')
    script(src="/js/fileuploader.js")
    script(src="/js/script.js")
  body


    h2 <a href='https://github.com/valums/file-uploader'>Valums File-Uploader</a> Demo

  div#file-uploader-demo1