!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/js/swfupload/swfupload.js")
    script(src="/js/swfupload/swfupload.queue.js")
    script(src="/js/swfupload/fileprogress.js")
    script(src="/js/handlers.js")
    script(src="/js/script.js")
  body!= body